@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


body {
    font-family: Barlow, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3.8rem;
    display: flex;
    justify-content: center;
    background-image: url('./images/backg.jpg');
    background-size: cover;
    background-position: center center;
}

.header {
    display: flex;
    max-width: 900px;
    min-width: 350px;
    min-height: 100px; 
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type="text"]:focus {
    outline: none;
    
}

input[type="text"] {
    font-family: Barlow;
    height: 30px;
    width: 280px;;
    font-size: 1.2rem;
    padding-left: 3px;
    padding-bottom: 2px;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


input[type="submit"] {
    height: 29px;
    width: 60px; 
}


.search-weather {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.weather-icon {
    margin-bottom: 10px;;
}


fieldset {
    border-style: none;
    border:none;  
    flex-wrap: nowrap;
    display: flex;
    gap: 20px;
    align-items: center;
}

#form {
    border-style: none;
    border:none;
}

.more-weather {
    min-width: 150px;
    background-color:rgb(85, 128, 60);
    margin-left: auto;
}

.current-weather {
    max-width: 300px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.current-weather > div {
   margin-bottom: 20px;
}
.current-weather .temperature, 
.current-weather .weather-icon {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 3rem;
}

.forecast {
    min-width: 240px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    background-color: rgba(228, 234, 235, 0.822);
    border-style: solid;
    border-width: 3px;
    border-color: rgba(85, 145, 141, 0.892);
    border-radius: 3px;
    border-width: 2px;

    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;;
    flex-wrap: wrap;
}

.forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 7.5px;
    min-width: 220px;
    font-size: 1.2rem;    
}

.forecast > div .icon {
    margin-top: 5px;
    margin-bottom: 10px;
}

.forecast .temp {
    font-size: 1.6rem;
}

.forecast img {
    max-width: 125px;
    max-height: 125px;
}

.current-weather .location {
    font-size: 1.25rem;
}

.current-weather .date {
    font-size: 1.4rem;
}

.current-weather .time {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.current-weather .condition {
    font-size: 2rem;
}

.current-weather .temperature:hover {
    cursor: pointer
} 

.weather-icon img {
    max-height: 400px;
    max-width: 400px;
}

.forecast .icon {
    margin-top: 10px;
}

.query-time {
    position: absolute;
    top: 0px;
    left: 5px
}